*~
*.o
*.lo

ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
debug.sh
depcomp
install-sh
m4
ltmain.sh
libtool
*.pc

missing

doc/Doxyfile
doc/Doxyfile_web
doc/Makefile
doc/Makefile.in
doc/html
doc/webdoc

src/Makefile
src/Makefile.in
src/.deps
src/.libs
src/id.hpp
src/config.h
src/config.h.in

tests/Makefile
tests/Makefile.in
tests/.deps
tests/.libs
tests/*.png
tests/*.ps
tests/*.pdf
tests/*_vout.txt
